li {
  list-style-type: none;
}
.contenedor{
  background-color: powderblue;
  width: 100%;
  height: auto;
  clear: both;
}
 .header{
   background-color: red;
   width: 100%;
   height: 50px;
}
.lateral{
  background-color: green;
  width: 25%;
  float: left;
}
.caja{
  background-color: green;
  width: 25%;
  float: left;
  clear: both;
}
.principal{
  background-color: blue;
  width: 75%;
  float: right;
  height: auto;
}
.footer{
  background-color: white;
  width: 75%;
}
